.theme{
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 500;
    font-family: DFKai-sb;
}

.bg{
    background-color: rgb(0, 153, 204);
}

body{
    background-color: rgb(204, 255, 255);
}

@media(max-width:768px){
    #forum{
        font-size: 1.2rem;
    }
    .email{
        font-size: 0.6rem;
    }
}

@media(max-width:480px){
    #forum{
        font-size: 1rem;
    }
    .email{
        font-size: 0.2rem;
    }
}