#post_list{
    overflow-y: scroll;
    word-break: break-all;
}

body{
    background-image: url(http://img01.jituwang.com/170428/256974-1F42PQ42317.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.col{
    background-color: chartreuse;
}

.col2{
    font-weight: 900;
}

@media(max-width:768px){
    #forum{
        font-size: 1.2rem;
    }
    .email{
        font-size: 0.6rem;
    }
}

@media(max-width:480px){
    #forum{
        font-size: 1rem;
    }
    .email{
        font-size: 0.2rem;
    }
}

.theme{
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 500;
    font-family: DFKai-sb;
}