@media(max-width:768px){
    #forum{
        font-size: 1.2rem;
    }
    .email{
        font-size: 0.6rem;
    }
}

@media(max-width:480px){
    #forum{
        font-size: 1rem;
    }
    .email{
        font-size: 0.2rem;
    }
}