.like{
    background-color: rebeccapurple;
    color: white;
    border-radius: 25px; 
}

.i_like{
    background-color: wheat;
    border-radius: 25px; 
}

body{
    background-color: rgb(204, 255, 255);
}

.rainbow{
    background:url(http://bpic.588ku.com/back_pic/04/63/11/165870f0fb90eab.jpg!ww800);
    box-shadow: 10px 10px grey;
}

.distance{
    margin: 0.5rem;
}